*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: cursive;
}

body{
    
    color: white;
    min-height: 100vh;
}

header{
    font-size: 1rem;
}

header, form{
min-height: 20vh;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 0;
}

/*BOX-designe*/
.box{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    margin: 1rem;
}
.rounded {
    border-radius: 1rem;
}
.dark {
    background-color: #333;;
    color: white;
}
 
/*Grid*/
 
.grid{
    display: grid;
    max-width: 100%;
}

form input, form button{
    padding: 0.5rem;
    font-size: 1.5rem;
    border: none;
    background: white;  
     
}

form button{    
    background: orange;
    cursor: pointer;
    transition: all 0.2s ease;
    border-radius: 10%; 
}

.todo-input{
    border-bottom: 2px solid black;
    outline: none;
    margin-right: 1vw;
}

form button:hover{
   background-color: black;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-list {
    min-width: 30%;
    list-style: none;
}

.todo {
    margin: 0.1rem;
    background: white;
    color: black;
    font-size: 1,5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.delete-btn{
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
    border-radius: 20%;
}
.delete-btn:hover{
   background-color: red;
   font-weight: bolder;   
}

.todo-item {
    padding: 0rem 0.5rem;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;

}

/*nav*/
nav{
    overflow: hidden;
  background-color: #333;
}
li a{
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 1rem 1rem;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bolder;
}
li :hover{
  background-color: orange;
  color: white;
}
li a.aktiv{
    background-color: orange;
    color: white;
}
ul{
    list-style-type: none;
}

/*img*/
img{
    max-width: 50%;
    margin: 0;
    max-height: 30%;
}

